#content{
	color: #C91E24;
}

.fa{margin-right: 10px;}

#list_menu{
	background-color: #C91E24;
	width: 250px;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
	padding: 10px;
}

/************************************************************************/
/*								Left Side   							*/
/************************************************************************/
.menu{
	color: white;
	margin: 0px;
	padding: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu > li{
	list-style: none;
	padding: 10px;
}

.menu > a > li {
	list-style: none;
	padding: 10px;
}

.main_menu:hover{
	background-color: white;
	box-shadow: 5px 5px 6px 0px #333;
	color: #C91E24;
	cursor: pointer;
}

.main_menu:active{
	box-shadow: none;
}

.submenu{
	display: none;
	margin-left: 40px;
	padding: 0px;
}

.submenu > ul{
	margin: 0px;
	padding: 0px;
}

.submenu > ul > li{
	list-style: none;
	padding: 5px;
}

.submenu > ul > li:hover{
	background-color: white;
	box-shadow: 5px 5px 6px 0px #333;
	color: #C91E24;
	cursor: pointer;
}

.submenu > ul > li:active{
	box-shadow: none;
}

.logout{
	text-decoration: none;
	color: white;
}

/************************************************************************/
/*								Right Side   							*/
/************************************************************************/
#menu_field{
	width: calc(100% - 270px);
	margin-top: 20px;
	float: left;
}