body{
	margin: 0px;
	padding: 0px;
	font-family: "Arial Rounded MT Bold";
	color: white;
}

.clear_both{clear: both;}

header{
	background-color: #C91E24;
	height: 50px;
	width: 100%;
}

.logo{
	height: 40px;
	float: left;
	margin: 5px 5px 0px 5px;
}

.kost_informasi{
	font-size: 2em;
	margin: 0px;
	padding: 0px;
	float: left;
}

.slogan{
	font-size: 0.3em;
	text-align: right;
	margin: 0px;
	padding: 0px;
}
