body{
	/*background-color: #C91E24;*/
	padding: 0px;
	margin: 0px;
	font-family: "Arial Rounded MT Bold";
}

.mainHead{height: 600px;}
header{
	background-color: #C91E24;
	width: 100%;
	margin-bottom: 15px;
}

header #content{
	width: 80%;
	margin-left: 10%;
}

footer{
	background-color: #C91E24;
	width: 100%;
}

footer #content{
	color: #fff;
	width: 80%;
	padding: 20px 0px 20px 0px;
	font-size: 0.75em;
	margin-left: 10%;
}

.float_left{float: left;}
.align_right{text-align: right;}
.clear_both{clear: both;}
.margin_btm{margin-bottom: 30px;}

.margin_btm_B{margin-bottom: 30px;}
.webTitle{
	margin-left: 30px;
	padding-top: 20px;
	font-size: 4em;
	font-weight: bold;
	color: #fff;
}

.small_webTitle{
	font-weight: normal;
	font-size: 0.2em;
}

.slideBox{
	width: 100%;
	height: 400px;
	overflow: hidden;
	box-shadow: 8px 8px 10px 0px black;
}

#infoList{
	width: 80%;
	margin-left: 10%;
}

.infoTitle{
	color: #C91E24;
	font-size: 1.5em;
}

#threeBox{
	width: calc(100%/3);
	float: left;
	text-align: center;
}

.borderRight{
	border-left: 1px solid black;
}

.webTitle_B{
	font-size: 4em;
	margin-left: 60px;
}

#mapKost{
	width: 80%;
	height: 570px;
	margin-left: 10%;
	margin-bottom: 30px;
	z-index: 0;
}

/*Overlay*/
#dataKost{
	margin-top: 40px;
}

.abs{
	position: absolute;
	margin-left: 80%;
	top: calc(700px);
	z-index: 1;
}