#login_form{
	margin: 2% 0px 0px 20%;
	padding: 15px;
	background-color: #C91E24;
	width: 60%;
	height: 300px;
}

.inputStyle{
	font-family: "Arial Rounded MT Bold";
	font-size: 2em;
	margin-left: 20%;
	padding: 5px 2px 5px 5px;
	width: 60%;
	color: #A9A9A9;
	margin-top: 15px;
	border: none;
}

.loginButton{
	border: 2px solid #fff;
	font-size: 2em;
	width: 61%;
	margin-left: 20%;
	margin-top: 15px;
	padding: 5px 2px 5px 5px;
	background-color: #C91E24;
}

.loginButton:active{
	background-color: #fff;
}

.line{
	border: none;
	background-color: #fff;
	height: 2px;
}