.showMe{
	background-color: red;
	display: none;
}

.infoSep{
	margin: 10px 0px 10px 5px;
}

.fa{
	margin-right: 20px;
}

.boxData{
	padding: 10px;
	width: 50%;
	float: left;
}

.fotoKost{
	float: left;
	width: 45%;
	height: 200px;
}